src/test/resources/XSD/auth.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="request">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="auth">
                    <xs:complexType>
                        <xs:attribute name="login" type="xs:string" use="required" />
                        <xs:attribute name="sign" type="xs:string" use="required" />
                        <xs:attribute name="signAlg" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="providers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="getUIProviders" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>